import { portData, rootDeviceData } from '../openPort/interfaces'

export const openPortlist: Array<portData> = [
	{
		id: 'minecraftje',
		port: 25565,
		protocol: 'TCP',
		auto: true
	}, {
		id: 'minecraftbe',
		port: 19132,
		protocol: 'UDP',
		auto: true
	}, {
		id: 'http',
		port: 80,
		protocol: 'TCP',
		auto: false
	}, {
		id: 'https',
		port: 443,
		protocol: 'TCP',
		auto: true
	}
]

export const rootDeviceConfig: rootDeviceData = {
	documentUrl: 'http://192.168.0.1:2869/upnp/rootdevice.xml'
}
