import { ServerData } from '../server/interfaces'

export const serverList: Array<ServerData> = [
	{
		id: 'example',
		run: {
			command: "powershell.exe",
			args: [],
			cwd: "C:/"
		},
		stopHandle: (server) => server.process?.write?.('stop\r'),
		rootDirectory: 'C:/'
	}
] as const
